.light_theme {
  ts-message {
    color: $base-font-color;
    font-size: 1rem;

    .message_content {
      .message_sender,
      .meta .message_sender:hover {
        color: $base-font-color !important;
      }
    }

    .comment::before {
      color: $color-highlight;
    }
  }
}
